<%= custom_error_messages_for 'part' %>

<p><%= t("part_view.name") %></p>
<p><%= text_field 'part', 'name', :size => 150 %></p>
<p><%= t("part_view.order_number") %></p>
<p><%= text_field 'part', 'order_number', :size => 10 %></p>
<p><%= t("part_view.content") %></p>
<p><%= text_area 'part', 'content' %></p>
