<%= custom_error_messages_for 'picture' %>

<p><%= t("picture_view.subject") %></p>
<p><%= f.text_field :subject, :style => "width: 100%;" %></p>

<p><%= t("picture_view.picture") %></p>
<% if @picture.photo.exists? %>
  <%= image_tag @picture.photo.url(:thumb) %>
<% end %>
<p><%= f.file_field(:photo) %></p>

<p><%= t("picture_view.part") %></p>
<p>
  <select name="part_id">
    <% for part in @parts %>
      <option value="<%= part.id %>" <%= @picture.part_id == part.id ? 'selected' : '' %>><%= part.name %></option>
    <% end %>
  </select>
</p>

<p><%= t("picture_view.type") %></p>
<p>
  <select name="type_id">
    <% for type in Picture::PICTURE_TYPES %>
      <option value="<%= type %>" <%= @picture.type_id == type ? 'selected' : '' %>><%= Picture::PICTURE_TYPE_DESCRIPTIONS[type] %></option>
    <% end %>
  </select>
</p>
