<table class="list">
  <tr>
    <th><%= t("picture_view.time") %></th>
    <th></th>
    <th align=left width=%30><%= t("picture_view.name") %></th>
    <th></th>
    <% @pictures.each do |picture| %>
    <tr>
      <td>
        <% if picture.photo.exists? %>
          <%= image_tag picture.photo.url(:thumb) %>
        <% end %>
      </td>
      <td nowrap><%= picture.created_at.strftime("%d.%m.%Y &nbsp %H:%M") %></td>
      <td width=%10> &nbsp; </td>
      <td align='left' width=%70><%= link_to picture.subject, :action => 'edit', :id => picture[:id] %></td>
      <td nowrap align='right'>
        <% if @allowed_actions.has_key?(:destroy) %>
          <%= link_to image_tag('/picto/del.gif', {:alt => 'delete picture', :title => 'delete picture'}), :action => "destroy", :id => picture[:id] %>
        <% end %>
        <% if @allowed_actions.has_key?(:edit) %>
          <%= link_to 'Edit', :action => 'edit', :id => picture[:id] %>
        <% end %>
        <% if @allowed_actions.has_key?(:approve) %>
          <%= link_to image_tag('/icons/add.png', {:alt => 'approve picture', :title => 'approve picture'}), :action => "approve", :id => picture[:id] %>
        <% end %>
        <% if @allowed_actions.has_key?(:show) %>
          <%= link_to 'Show', :action => 'show', :id => picture[:id] %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tr>
</table>
